environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
    XDG_MENU_PREFIX "arch-"
    DMS_SCREENSHOT_EDITOR "satty"
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--watch" "bash" "-c" "~/.local/bin/clipboard-wltox11.sh"
spawn-at-startup "bash" "-c" "~/.local/bin/clipboard-x11towl.sh"
spawn-at-startup "/usr/bin/dms" "run" "--session"
spawn-at-startup "/usr/lib/pam_kwallet_init"
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "/usr/lib/xdg-desktop-portal-wlr"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gtk"
spawn-at-startup "/usr/lib/xdg-desktop-portal" "-r"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "xhost" "+si:localuser:root"

spawn-sh-at-startup "sleep 0.5 && fcitx5 --replace -d"
spawn-sh-at-startup "darkman run &"
spawn-sh-at-startup "xrdb -merge ~/.Xresources"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    // skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null
